
*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(190, 80, 29);
  line-height: 1.5;
}

body{
  background-color: #ffffff;
}
#logo{
  margin: 5px;
}
/* Navigation */
header{
  display: flex;
  width: 100%;
  height: 20%;
}
a, .back-button {
  opacity: 50%;
}
a:hover, .back-button:hover{
  opacity: 100%;
  cursor: pointer;
}
a:active, .back-button:active{
  opacity: 100%;
  cursor: pointer;
}
nav {
  z-index: 2000;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 4px 0 rgb(190, 80, 29, 0.5);;
}
.nav, .nav1, .nav2 {
  width: 90%;
}

.nav1, .nav2 {
  width: 80%;
  height: 40px;
  border-top: 1px solid rgb(255, 247, 247);

}
.nav1, .nav, .nav2 {
   display: flex;
    top:3%;
    font-size: 17px;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
.nav-text {
  text-decoration: none;
  opacity: 50%;
  padding: 6px;
}
.nav-text:hover {
  border-bottom: 2.5px solid black;
}
.nav-text-active{
  font-weight: bold;
  text-decoration: none;
  opacity: 100%;
  border-bottom: 2.5px solid black;
  padding: 6px;
}

.back-button{
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,.5);
}

/* Gallery */
.container{
  max-width: 1224px;
  margin: auto;
  padding: 40px 0;
  animation: 0.6s ease 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
      opacity: 85%;
      height:88%;
      width: 88%;
  }
  100% {
      opacity: 100%;
      height: 90%;
      width: 90%;
  }
}

.gallery{ /* Column */
  display: flex;
  gap: 20px;
}
.column{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}


.gallery2{ /* Row */
  gap: 20px;
  width:100%;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.photo-row {
  min-width: 0; /* important */
  height: 40vh;
}
.photo-row img{
  width: auto;     /* keep aspect ratio */
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 10px;
}

.photo img, .photo1 img, .profile, .photo-noborder img{
  width: 100%;
  object-fit: contain;
}
.photo img{
  border-radius: 10px;
}


.photo2 img {
  width: 100%;
  height: 20%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  animation: 0.6s ease 0s 1 slideInFromLeft2;
}


/* .profile img {
  width: 400px;
  height: 400px;
  padding: 40px;
  object-fit: cover;
  border-radius: 50%;
} */

@keyframes slideInFromLeft2 {
  0% {
      opacity: 85%;
      width: 97%;
      height:97%;
  }
  100% {
      opacity: 100%;
      width: 100%;
      height:100%;
  }
}

:fullscreen, ::backdrop {
  background-color: rgba(0,0,0,0.66);
  padding: 10%;
}
footer{
  padding: 3%;
  font-size: 12px;
  text-align: center;
  color: #8EA5EB;
}

.image{
  opacity: 100%;
}
.image:hover{
  opacity: 50%;
  cursor: pointer;
}
figcaption{
  margin-top: -15px;
  margin-bottom: 5px;
}
/* Project */
.project, .about{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
}


.project-image{
  width: 100%;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  display: block; 
  animation: 0.6s ease 0s 1 slideInFromLeft3;
}

@keyframes slideInFromLeft3 {
  0% {
      opacity: 85%;
      width: 95%;
  }
  100% {
      opacity: 100%;
      width: 100%;
  }
}

.project-video{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About */
.about-text{
  text-align: left;
}
.social {
  display: flex;
}

@media(max-width:768px){
  .gallery{
    flex-direction: column;
  }
  .nav1, .nav {
    display: inline-block;
     top:3%;
     font-size: 17px;
     text-decoration: none;
     align-items: center;
     justify-content: space-around;
     margin-left: auto;
     margin-right: auto;
   }
   .nav-text-active, .nav-text{
    padding: 0;
  }
   .video{
    width: 100vw;
   }
}

/* Contact form */
#contact-main {
  background-image: url("media/images/bgblue.jpeg");
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: 100% auto;  
  background-color: #072541;
  margin: 0 auto;
  color: #594700;
  line-height: 0.5;
  padding: 1px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}
.box {
  width: 100%;
  border: 2px solid rgb(190, 80, 29);
  background: transparent;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}
::placeholder {
  color: rgb(190, 80, 29);
  opacity: 1; 
}
::-ms-input-placeholder { 
  color: rgb(190, 80, 29);
}

#contact-form {
  border: 2px solid rgb(190, 80, 29);
  padding: 5%;
  position: relative;
  width: 45%;
  border-radius: 10px;
}

input[type=submit] {
  color: #ffffff;
  border: none;
  margin-top: 15px;
  background-color: rgb(190, 80, 29);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px 25px;
}
input[type=submit]:hover {
  opacity: 50%;
  transition: 0.5s;
}
input[type=submit]:active {
  opacity: 30%;
  transition: 0.1s;
}
